@import url('https://fonts.googleapis.com/css?family=Nanum+Pen+Script|ZCOOL+KuaiLe&display=swap');
@import url('https://fonts.googleapis.com/css?family=Shojumaru&display=swap');

* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

html,body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    overflow-x:hidden;
       
}

body{
    background: url('../images/background.png');   
}

header, main, section{
    max-width: 1024px;
    margin: 0 auto;
}

header i{
    font-size: 30px;
}

h1{
    font-family: 'Shojumaru', cursive;
    color:#612127;
    
}

#user{
    display: none;
    border-color: #777 !important;
}

a{
    color: black;
}
a:hover{
    text-decoration: none;
    color: #612127;
}

.card-header{
    background-color: #612127 !important;
}

.edition-buttons{
    display: none;
    margin-right: 5px;
}

th{
    border: 0 !important;
    
}


#rail{
    width: 100%;
    margin: 0 auto;
    max-width: 1024px;
    background-color: darkgray;
    border-radius: 5px;
    border: 1px solid #777;
    position: relative;
    height: 300px;
    bottom:0;
    overflow-x: hidden;
    background: url('../images/railway.png'),url('../images/station.jpg') ;
    background-position: bottom;
    background-repeat: repeat-x;
}

.train{
    position: absolute;
    left: 0;
    bottom: 25px;
    width: 200px;

}

.train img{
    width: 200px;
}

.train figcaption{
    background: url('../images/cloud.gif');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 200px 150px;
    height: 200px;
    padding: 94px 0 0 0;
    border: 0;
    text-align: center;
}

.caption-name, .caption-destination{
    line-height: 1rem;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 20px;
}
.caption-name{
    font-weight: bold;
}

audio{
    display: none;
}

#auth-message{
    color: red;    
}